name: 'PR Checks'

on:
  pull_request:
    branches:
      - 'master'
    paths-ignore:
      - 'docs/**'
      - '.github/workflows/deploy-docs.yml'

jobs:
  pr-checks:
    runs-on: ubuntu-latest
    steps:
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 10

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            src-tauri -> target

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint

      - name: Check
        run: |
          pnpm exec vue-tsc --noEmit
          cargo check --manifest-path src-tauri/Cargo.toml

      - name: Test
        run: cargo test --manifest-path src-tauri/Cargo.toml
